label[data-class="radio"],
label[data-class="checkbox"] {
  position: relative;

  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    margin: 0;
    margin-right: 1.4rem;
    padding: 0;
    height: 1.2rem;
    width: 0;
    vertical-align: middle;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 1.2rem;
      height: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-color: transparent;
      // color: transparentize(white, 0.85);
      color: var(--dark-accent-clr, transparentize(white, 0.85));

      font-family: 'Material Icons Outlined';
      font-weight: normal;
      font-style: normal;
      font-size: 1.2em;
      // display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;
      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;
      /* Support for IE. */
      font-feature-settings: 'liga';
    }

    &:checked:before {
      color: var(--accent-clr);
    }
  }
}
label[data-class="radio"] {
  input[type="radio"] {
    &:before {
      content: 'radio_button_unchecked';
    }
    &:checked:before {
      content: 'check_circle';
      // content: 'task_alt';
    }
  }
}
label[data-class="checkbox"] {
  input[type="checkbox"] {
    &:before {
      content: 'check_box_outline_blank';
    }
    &:checked:before {
      content: 'check_box';
    }
  }
}
